
<div id="about">
<h2>Why</h2>
<p>I started coding.<br><br>
My first experience with coding was actually a huge failure. I was in my sophomore year of highschool.<br>
I had always loved photography but I couldn't afford a dslr at the time.
I came across a raspberry pi project that had the functionality that I wanted from a camera and was inexpensive enough that I decided to take up the challenge.
Having no previous coding experience, the project proved to much for me.<br> I didnt have anyone to turn to for help
and despite trying to learn python through an online course it was not enough for me to understand the code I was trying to working with.<br>
Although I failed at what I had set out to accomplish I was fascinated with coding and it became something I am very passionate about.
</p>






</div>
