$primary: linear-gradient(-225deg, black 0%, #363636 48%, #B9B9B9 100%);

// body {
//   // height: auto;
//     min-height: 100%;
// }

.req::after{
  // font-weight: bold;
  content: "*";
  color:#00FF13;
}

label {
  text-align: left;
}

textarea {
    max-width: 100%;
    max-height: 100%;
}

#content {
    margin-bottom: 30px;
}

#contactForm {
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  padding: 50px;
  width:60%;
  height: auto;
  text-align: center;
  background: $primary;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

#sbutton {
  font-family: 'ZCOOL Kuaile';
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
