<!doctype html>
<!-- <html lang="en"> -->
<body>
  <div id='container'>

  <form id='contactForm'>
    <label class='req' for='fname' for='lname'>Name </label><br>
    <input type='text' id='fname' name='fname' value='First name'>
    <!-- <label class="req" for="lname">Last name </label><br> -->
    <input type='text' id='lname' name='lname' value='Last name'><br>
    <label class='req' for='email'>Email </label><br>
    <input type='text' id='email' name='lname' value=''><br>
    <br>
    <label class='req' for='message'>Message</label><br>
    <textarea id="message" rows="15" cols="80"></textarea>

  </form>

  </div>
</body>
<!-- </html> -->
