
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL KuaiLe" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <title>Home</title>
</head>
<body>
    <header>
      <div id="navbar">
        <a routerLink="/" class="logo">SBSTN</a>
        <nav>
          <ul>
            <li><a href="#" routerLink="/about">about</a></li>
            <li><a href="#" routerLink="/links">links</a></li>
            <li><a href="#" routerLink="/contact">contact</a><li>
          </ul>
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
    <div id="footer">
      <p>© Sebastian Ruiz 2020</p>
    </div>
</body>
