
<!DOCTYPE html>
<!-- <html lang="en" dir="ltr"> -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='https://fonts.googleapis.com/css?family=ZCOOL KuaiLe' rel='stylesheet'>
    <title>Liked</title>
</head>
<body>
    <header>
      <div id="navbar">
        <a routerLink="/" class="logo">SBSTN</a>
        <nav>
          <ul>
            <li><a href="#" routerLink="/">about</a></li>
            <li><a href="#" routerLink="/contact">contact</a><li>
          </ul>
        </nav>
      </div>
    </header>
    <body>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div id="footer">
      <p>© Sebastian Ruiz 2020</p>
    </div>
</body>
<!-- </html> -->
