$primary: linear-gradient(-225deg, black 0%, #363636 48%, #B9B9B9 100%);
// $primary: linear-gradient(-225deg, #000000   30%, #AFAFAF 48%, #000001 100%);


#navbar {
    font-family: 'ZCOOL KuaiLe';
    background: $primary;
    padding: 1em 0;
    width: 100%;
    // height: 100px;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        padding: 1em;
        font-weight: bold;
        &:hover {
            background: white;
            color: black;
        }
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                  background: white;
                  color: black;
                }
            }
        }
    }
}

#footer {
  background:black;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight:lighter;
  color: white;
  text-align: center;
}
