

<div id="content">
    <div id="smokey">
        <img src="assets/P3160007.png" alt="big-sur by sbstn">
        <h1>Hello,</h1>
        <p>thanks for visiting my personal website. <br>
           A little about me. I am a CS studented at <a href="https://csumb.edu">CSUMB</a>, gradutaing May 2020. <br>
          My interest outside of CS are playing guitar, fly fishing, mechanical keyboards, and photography.
        </p>
        <p>
          I built this website using the Angular framework but I also know React.
          <br>
           My most current project that I am working on is creating a web analytics dashboard in React for the start up <a href="https://www.linkedin.com/company/food-origins/about/">Food Origins</a>.
        </p>
    </div>

</div>
