img {
  height: 400px;
  width: 600px;
}


#smokey {
  font-family: sans-serif;
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);

  h1, h2 {
    // font-weight: 5em;
    animation: animate 2.5s linear ;
    margin-bottom: -15px;
  }
  p {
    // margin-top: -10px;
    font-size: 1.25em;
    font-weight: bold;
    animation: animate 2.5s linear;
    // margin-bottom: -10px;
    a {
      color: #3986D3;
      text-decoration: none;
      }

  }
}

@keyframes animate {
  0%{
    filter: blur(0);
  }
  40%{
    filter: blur(20px);
  }
  80%{
    filter: blur(0);
  }
  100%{
    filter: blur(0);
  }
  0%{
    filter: blur(0);
  }

}
