
img {
  width: auto;
  max-width: 90%;
  height:auto;
}

#content {
  // margin-bottom: 10%;
}

#smokey {
  font-family: sans-serif;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 40px;
  animation: animate 2.5s linear;
  h1 {
    // animation: animate 2.5s linear;
    margin-bottom: -15px;
  }
  p {
    // animation: animate 2.5s linear;
    font-size: 1.25em;
    font-weight: bold;

    a {
      color: #3986D3;
      text-decoration: none;
      }

  }
}

@keyframes animate {
  0%{
    filter: blur(0);
  }
  40%{
    filter: blur(20px);
  }
  80%{
    filter: blur(0);
  }
  100%{
    filter: blur(0);
  }
  0%{
    filter: blur(0);
  }

}
