
<!-- <head>
  <title>BioSite</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head> -->
<!-- <body> -->
<div id="smokey">
    <img src="assets/P31600072.png" alt="big-sur by sbstn">
    <h1>Hello,</h1>
    <p>thanks for visiting my personal website. <br>
       A little about me. I am a CS studented at <a href="https://csumb.edu">CSUMB</a>, gradutaing May 2020. <br>
      My interest outside of CS are playing guitar, fly fishing, mechanical keyboards, and photography.
    </p>
    <p>
      I built this website using the Angular framework. But I am also learning React,
      <br>
       as I am currently making an analytics dashboard for the start up <a href="https://www.linkedin.com/company/food-origins/about/">Food Origins</a>.
    </p>
    <!-- <h2>Why I started coding.</h2>
    <p>It was my sophomore year in highschool when I stumbled on a project for a RaspberryPi camera, <br>
       I though it was so cool, having no previous coding experiance I decided to take up the challange.
       Unfortunately this project ended in failure but since then I knew coding is what I wanted to do.</p> -->
</div>
<!-- </body> -->
