<!doctype html>
<html lang="en">
<head>
  <!-- <meta charset="utf-8"> -->
  <title>BioSite</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div id='smokey'>
      <h1>Hello,</h1>
      <p>thanks for visiting my personal website. <br>
         A little about me. I am a CS studented at <a href="https://csumb.edu">CSUMB</a>, gradutaing May 2020. <br>
        My interest outside of CS are, playing guitar & music, fly fishing, photography and being outdoors.
      </p>
      <br>
      <p>
        I built this website using the Angular framework. But I am also learning React,
        <br>
         as I am currently making an analytics dashboard for the start up <a href="https://www.linkedin.com/company/food-origins/about/">Food Origins</a>.
      </p>
  </div>
</body>
</html>
